.foods {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    padding-block: 2rem;
    padding-inline: clamp(1rem, calc(0.3rem + 4vw), 10rem);
    background-color: rgba(26, 0, 0, 0.95);
    margin-top: clamp(4rem, calc(3rem + 3vw), 10rem);
    gap: clamp(1rem, calc(0.3rem + 2vw), 4rem);
}

.foods div {
    color: white;
    font-family: dosis;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    place-items: center;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

img {
    width: clamp(200px, calc(220px + 6vw), 480px);
}

@media only screen and (max-width: 768px) {
    .foods {
        padding-inline: clamp(1px, calc(1px + 1vw), 10rem);
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        margin-top: clamp(3rem, calc(3rem + 20vh), 13rem);
    }
}