@font-face {
    font-family: lobster;
    src: url('../assets/fonts/Lobster-Regular.ttf');
    font-display: swap;
}

@font-face {
    font-family: indie;
    font-display: swap;
    src: url('../assets/fonts/IndieFlower-Regular.ttf');
}

@font-face {
    font-family: dosis;
    font-display: swap;
    src: url('../assets/fonts/Dosis-Regular.ttf');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../assets/images/tim-toomey-STqHLqMne3k-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

nav {
    display: flex;
    place-content: center;
    gap: clamp(1rem, calc(0.6rem + 6vw), 10rem);
    margin-top: clamp(0.5rem, calc(0.5rem + 5vw), 2rem);
}

nav a {
    text-decoration: none;
    color: white;
    font-family: lobster;
    font-size: clamp(1.5rem, calc(1.3rem + 2vw), 5rem);
}

.header {
    text-align: center;
    margin-top: clamp(4rem, calc(4rem + 4vw), 10rem);
    
}

h1 {
    color: white;
    font-family: lobster;
    font-size: clamp(1.3rem, calc(1.3rem + 13vw), 13rem);
    line-height: clamp(1.3rem, calc(1.3rem + 13vw), 10rem);
    cursor: default;
    text-shadow: 0px 0px 3px #a79292;
}

h2 {
    color: white;
    font-family: indie;
    font-size: clamp(1rem, calc(1rem + 3vw), 4rem);
    cursor: default;
    text-shadow: 0px 0px 3px #a79292;
}

main {
    background-color: #1a0000;
    margin-top: clamp(2rem, calc(2rem + 15vh), 20rem);
    background-attachment: fixed;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

main div {
    padding-block: 2rem;
    padding-inline: clamp(0.5rem, calc(0.5rem + 5vw), 13rem);
    color: white;
}

main div h3 {font-family: indie;}

.testimonial {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.testimonial p {
    color: #cab5b5;
    font-family: dosis;
    line-height: 1.6rem;
    font-size: 1.1rem;
    letter-spacing: 1px;
}

.testimonial .attr {
    font-family: indie;
    align-self: flex-end;
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
}

label {
    margin-bottom: 4px;
    color: #cab5b5;
}

.book form {
    display: flex;
    flex-direction: column;
    font-family: dosis;
    font-size: 1.1rem;
    margin-top: 1rem;
}

input,
textarea {
    color: white;
    font-size: 1.1rem;
    background-color: #1a0000;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #cab5b5;
}

textarea:focus, input:focus {
    outline: none;
}

form button {
    border: none;
    margin-top: 1rem;
    width: 150px;
    padding-block: 0.5rem;
    align-self: center;
    cursor: pointer;
    border-radius: 3rem;
    color: #1a0000;
}

.extra h3 {margin-bottom: 1rem;}
.extra p {font-family: dosis;}

main a {
    text-decoration: none;
    font-family: indie;
    font-weight: bold;
    font-size: 1.1rem;
    color: #5fc0b0;
}

main a:visited {color: #916f9e;}

/* svg */
.socials {
    display: flex;
    place-content: center;
    gap: 1rem;
    padding: 1rem;
}

svg {
    cursor: pointer;
    height: clamp(24px, calc(16px + 1vw), 2rem);
    width: clamp(24px, calc(16px + 1vw), 2rem);
}

path {
    stroke: white;
    stroke-width: 1.8;
}

@media only screen and (max-width: 599px) {

    main {gap: 2rem;}

    .book {grid-row: 1 / span 1;}

    .testimonial,
    .extra {border-top: 1px solid #301a1a;}
}